<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
</head>
<body>

<h1>Chat</h1>

<div th:each="item: ${chatHistory}">
    <p th:text="${item.key}"
       style="background-color: darkgoldenrod;border-radius: 20px; padding: 15px; color:white"></p>

    <p th:text="${item.value}"
       style="background-color: aquamarine; border-radius: 25px; padding: 10px"></p>
</div>


<form th:action="@{/ask}" method="post">
    <label>
        <input type="text" name="prompt" placeholder="Ask a question"/>
    </label>
    <button type="submit">Send</button>
</form>

</body>
</html>